{{#partial "content"}}

    <div class="container">

        <h2>{{princess.name}}</h2>

        <div class="card">
            <div class="card-body">
                <p>Age: {{princess.age}}</p>
                <p>Strength: {{princess.strength}}</p>
                <p>Weakness: {{princess.weakness}}</p>
                <p>Domain: {{domain.name}}</p>
            </div>
        </div>

    </div>

{{/partial}}

{{> layout.hbs}}